- use utf8;
- my %clothes_map = (jacket => '자켓', pants => '팬츠', shirt => '셔츠', tie => '타이', shoes => '구두', belt => '벨트', skirt => '스커트', blouse => '블라우스');
- my %color_map = (black => '검정', navy => '남색', gray => '회색', brown => '갈색', etc => '기타', staff => '직추', charcoalgray => '차콜', dark => '다크');
- my %label_map = ('대여가능' => 'label-success', '대여중' => 'label-danger');
- my $user = $order->user;
- my $user_info = $user->user_info;
- my $gender = $user_info->gender;
- my $details = $order->order_details;
- my @clothes = split /,/, $user_info->pre_category;
- my @colors  = split /,/, $user_info->pre_color;
- my $histories = history({ order_id => $order->id });
- my $nth = $histories->count;
- my $_bestfit = $order->bestfit;
- my $wearon_date = $order->wearon_date ? $order->wearon_date : $user_info->wearon_date;

.row
  .col-md-2.profile
    %h1.name{:class => "#{$_bestfit ? 'bestfit' : ''}"}
      %i.fa{:class => "fa-#{$gender}"}
      = $user->name
    %h2.age= age($user_info->birth)
    %p.timeago
      %abbr.timeago{:title => '#{$order->update_date->ymd}T#{$order->update_date->hms}Z'}= $order->update_date
    %p.booking-date.date
      = substr $order->booking->date->hms, 0, 5
    - if ($nth) {
      %p.previous
        %strong= '#' . $histories->next->room_no . '/' . $nth
    - }
  .col-md-5.size
    %ul
      %li
        %span.label.label-success{:title => '중동'}
          윗배
          = $user_info->topbelly || 0
      %li
        %span.label.label-default{:title => '가슴'}
          가슴
          = $user_info->bust || 0
      %li
        %span.label.label-default{:title => '팔'}
          팔
          = $user_info->arm || 0
    %ul
      %li
        - if ($gender eq 'male') {
          %span.label.label-success{:title => '허벅지'}
            허벅지
            = $user_info->thigh || 0
        - } else {
          %span.label.label-success{:title => '엉덩이'}
            엉덩이
            = $user_info->hip || 0
        - }
      %li
        - if ($gender eq 'male') {
          %span.label.label-default{:title => '허리'}
            허리
            = $user_info->waist || 0
        - } else {
          %span.label.label-default{:title => '스커트'}
            스커트
            = $user_info->skirt || 0
        - }
      %li
        - if ($gender eq 'male') {
          %span.label.label-default{:title => '다리'}
            다리
            = $user_info->leg || 0
        - } else {
          %span.label.label-default{:title => '무릎'}
            무릎
            = $user_info->knee || 0
        - }
    %ul
      %li
        %span.label.label-info{:title => '목둘레'}
          = $user_info->neck || 0
      %li
        %span.label.label-info{:title => '발'}
          = $user_info->foot || 0
      %li
        %span.label.label-info{:title => '키/몸무게'}
          = $user_info->height || 0
          \/
          = $user_info->weight || 0
  .col-md-1
    %ul.color
      - for my $color (@colors) {
        %li
          %span.label{:class => $color}= $color_map{$color}
      - }
      %li.wearon-date= $wearon_date ? $wearon_date->ymd : ''
  .col-md-4
    - my @man_category   = qw/jacket pants shirt tie shoes belt/;
    - my @woman_category = qw/jacket skirt blouse shoes/;
    - my @common_category = qw/jacket shoes/;
    - my ($for_man, $for_woman);
    - for my $clothe (@clothes) {
      - next if grep {/^$clothe$/} @common_category;
      - my $bool = grep {/^$clothe$/} @man_category;
      - $for_man = 1 if $bool;
      - $bool = grep {/^$clothe$/} @woman_category;
      - $for_woman = 1 if $bool;
      - last if $for_man && $for_woman;
    - }
    - if (!$for_man && !$for_woman) {
      - $for_man = 1 if $gender eq 'male';
      - $for_woman = 1 if $gender eq 'female';
    - }
    - if ($for_man) {
      %table.table.table-bordered.table-condensed
        %tbody
          %tr.text-center
            - for my $category (@man_category) {
              - if (grep {/^$category$/} @clothes) {
                %td.text-info= $clothes_map{$category}
              - } else {
                %td.text-muted= $clothes_map{$category}
              - }
            - }
    - }
    - if ($for_woman) {
      %table.table.table-bordered.table-condensed
        %tbody
          %tr.text-center
            - for my $category (@woman_category) {
              - if (grep {/^$category$/} @clothes) {
                %td.text-info= $clothes_map{$category}
              - } else {
                %td.text-muted= $clothes_map{$category}
              - }
            - }
    - }
    .purpose
      %p= $user_info->purpose || ''
      \/
      %p= $user_info->purpose2 || ''
    %p.comment= $user_info->comment || ''

-#
-# 최근대여
-#
- my $recents = recent_orders($order);
.row
  .pre_order
    %ul.list-inline
      - while (my $order = $recents->next) {
        = include 'partials/recent-clothes', order => $order;
      - }
