- use utf8;
- use DateTime;
- layout 'default', jses => [
-   '/assets/components/reconnectingWebsocket/reconnecting-websocket.js',
-   '/assets/components/backbone/backbone.js',
-   '/assets/components/bootstrap-datepicker/js/bootstrap-datepicker.js',
-   '/assets/components/bootstrap-datepicker/js/locales/bootstrap-datepicker.kr.js',
-   '/assets/dist/js/index.min.js'
- ], csses => [
-   '/assets/components/bootstrap-datepicker/css/datepicker3.css'
- ];
- title 'Dashboard';

- my @sid = qw/13 16 17 20 6 18 19/;
- my $i = 0;
.row
  .col-md-7
    #dashboard
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th 대기중
            %th 치수측정
            %th 의류준비
            %th 탈의실번호
            %th 수선
            %th 포장
            %th 결제대기
        %tbody
          %tr
          - for my $s (@$orders) {
            %td.text-left{:id => "status-#{$sid[$i++]}"}
              - for my $order (@$s) {
                - my $hms = $order->booking->date->hms;
                - $hms = substr($hms, 0, 5);
                %p.user{:id => "order-#{$order->id}"}
                  %span.label.label-info
                    - if ($sid[$i] && $sid[$i] == 6) {
                      - my $room_no = $order->status_id - 19;
                      %span.badge= $room_no
                    - }
                    = $order->user->name
                    %span.date= $hms
                  %abbr{:title => '#{$order->create_date}Z'}= $order->create_date . 'Z'
              - }
          - }
    #opencloset-info
      - my $rent_date = DateTime->now;
      - $rent_date->set_time_zone('Asia/Seoul');
      - my $return_date = $expiration;
      - my %WEEK_MAP = (1 => '월', 2 => '화', 3 => '수', 4 => '목', 5 => '금', 6 => '토', 7 => '일');
      %hr
      %h2
        대여기간안내
        %small 3박 4일
      %h3
        %strong
          = '대여일 ' . $rent_date->month . '월 ' . $rent_date->day . '일(' . $WEEK_MAP{$rent_date->day_of_week} . ')'
          ~
          %span.datepicker= '반납일 ' . $return_date->month . '월 ' . $return_date->day . '일(' . $WEEK_MAP{$return_date->day_of_week} . ')'
      %p
        반납일이 일요일/공휴일인 경우는 다음날 반납
        %br
        택배 반납은 반납일 1일전 발송
      %p
        오늘 대여하신 옷과 구두에는 기증자의 마음이 담겨있습니다.
        %br
        소중히 입고 깨끗하게 반납 부탁드립니다.

  .col-md-5
    #event
      %audio{:src => "/assets/audio/whisper.ogg"}
        %p Your browser does not support the audio element.
      %ul.list-group
