- use utf8;
- layout 'default', jses => ['preparation.js'], csses => ['jquery.contextMenu.css'];
- title 'Preparation';
#preparation.row
  #select.col-md-8
    - while (my $order = $orders->next) {
      - if (grep { $order->id == $_ } @$select_active) {
        .row.select.active{:data-order-id => '#{$order->id}'}= include 'partials/select', order => $order;
      - } else {
        .row.select{:data-order-id => '#{$order->id}'}= include 'partials/select', order => $order;
      - }
    - }
  #fitting-room.col-md-4
    .row
      - for my $n (qw/7 8 9 10 11/) {
        .col-md-2
          - if (my $order = $rooms->[$n]) {
            - if ($room_active->[$n]) {
              .active{:data-order-id => '#{$order->id}'}= include 'partials/room-preparation', order => $order, n => $n;
            - } else {
              %div{:data-order-id => '#{$order->id}'}= include 'partials/room-preparation', order => $order, n => $n;
            - }
          - } else {
            = include 'partials/room-empty', n => $n;
          - }
      - }
    %hr
    .row
      - for my $n (qw/6 5 4 3 2 1/) {
        .col-md-2
          - if (my $order = $rooms->[$n]) {
            - if ($room_active->[$n]) {
              .active{:data-order-id => '#{$order->id}'}= include 'partials/room-preparation', order => $order, n => $n;
            - } else {
              %div{:data-order-id => '#{$order->id}'}= include 'partials/room-preparation', order => $order, n => $n;
            - }
          - } else {
            = include 'partials/room-empty', n => $n
          - }
      - }
    %hr
  #repair.col-md-offset-8.col-md-4
    .row
      - for my $order (@$repair) {
        - my $user = $order->user;
        - my $user_info = $user->user_info;
        - my $gender = $user_info->gender;
        - my $details = $order->order_details;
        .repair{:class => $gender}
          %i.fa{:class => "fa-#{$gender}"}
          %strong= $user->name
          %span.timeago
            %small
              %abbr.timeago{:title => '#{$order->update_date->ymd}T#{$order->update_date->hms}Z'}= $order->update_date
      - }
