- use utf8;
- layout 'default', jses => ['preparation.js'], csses => ['jquery.contextMenu.css'];
- title 'Preparation';
- use OpenCloset::Status;
%nav.navbar.navbar-default.navbar-fixed-bottom
  .container
    .navbar-header
      %p.navbar-text
        today
        %samp= $bestfit->{today}
      %p.navbar-text
        week
        %samp= $bestfit->{week}
#preparation.row
  #select.col-md-8
    - while (my $order = $orders->next) {
      - if (grep { $order->id == $_ } @$select_active) {
        .row.select.active{:data-order-id => '#{$order->id}'}= include 'partials/select', order => $order;
      - } else {
        .row.select{:data-order-id => '#{$order->id}'}= include 'partials/select', order => $order;
      - }
    - }
  #fitting-room.col-md-4
    .row
      #bestfit-alert.alert.alert-success.alert-dismissible.fade.in.hidden{:role => "alert"}
        %button.close{:aria-label => "Close", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4
          잘 어울린다고 생각하십니까?
        %p
          %button.btn.btn-success{:type => "button"} Best-Fit
          %button.btn.btn-warning{:type => "button"} 보통
      - for my $n (qw/7 8 9 10 11/) {
        .col-md-2
          - if (my $order = $rooms->[$n]) {
            - if ($room_active->[$n]) {
              .active{:data-order-id => '#{$order->id}'}= include 'partials/room-preparation', order => $order, n => $n;
            - } else {
              %div{:data-order-id => '#{$order->id}'}= include 'partials/room-preparation', order => $order, n => $n;
            - }
          - } else {
            = include 'partials/room-empty', n => $n;
          - }
      - }
    %hr
    .row
      - for my $n (qw/6 5 4 3 2 1/) {
        .col-md-2
          - if (my $order = $rooms->[$n]) {
            - if ($room_active->[$n]) {
              .active{:data-order-id => '#{$order->id}'}= include 'partials/room-preparation', order => $order, n => $n;
            - } else {
              %div{:data-order-id => '#{$order->id}'}= include 'partials/room-preparation', order => $order, n => $n;
            - }
          - } else {
            = include 'partials/room-empty', n => $n
          - }
      - }
    %hr
    #repair.row
      %ul.list-group
        - for my $order (@$repair) {
          - my $user = $order->user;
          - my $user_info = $user->user_info;
          - my $gender = $user_info->gender;
          - my $details = $order->order_details;
          - my $history = history({ order_id => $order->id })->next;
          - my $room_no = $history ? $history->room_no : '0';
          - my $url = url_for('/api/orders/' . $order->id)->query(status_id => $OpenCloset::Status::STATUS_BOXING);
          - my $bestfit = $order->bestfit;
          %li.list-group-item.repair.text-left{:class => $gender, :data-order-id => '#{$order->id}'}
            %i.fa{:class => "fa-#{$gender}"}
            %samp= "#$room_no"
            %strong.name{:class => "#{$bestfit ? 'bestfit' : ''}"}= $user->name
            %span.timeago
              %small
                %abbr.timeago{:title => '#{$order->update_date->ymd}T#{$order->update_date->hms}Z'}= $order->update_date
            %p.pull-right
              %a.btn.btn-success.btn-sm{:href => $url} 포장
        - }
