- use utf8;
- layout 'default', jses => [
-   '/assets/components/jquery-timeago/jquery.timeago.js',
-   '/assets/components/jquery-timeago/locales/jquery.timeago.ko.js',
-   '/assets/components/reconnectingWebsocket/reconnecting-websocket.js',
-   '/assets/components/jQuery-contextMenu/src/jquery.ui.position.js',
-   '/assets/components/jQuery-contextMenu/src/jquery.contextMenu.js',
-   '/assets/dist/js/preparation.min.js'
- ], csses => ['/assets/components/jQuery-contextMenu/src/jquery.contextMenu.css'];
- title 'Preparation';
- use OpenCloset::Status;

#knock
  %audio{:src => '/assets/audio/knock.ogg'}
    %p Your browser does not support the audio element.

%nav.navbar.navbar-default.navbar-fixed-bottom
  .container
    .navbar-header
      %p.navbar-text
        today
        %i.fa{:class => "fa-male male"}
        %samp= $bestfit->{today}{male} || 0
        %i.fa{:class => "fa-female female"}
        %samp= $bestfit->{today}{female} || 0
      %p.navbar-text
        week
        %i.fa{:class => "fa-male male"}
        %samp= $bestfit->{week}{male} || 0
        %i.fa{:class => "fa-female female"}
        %samp= $bestfit->{week}{female} || 0

#preparation.row
  #select.col-md-8
    = include 'partials/waiting', waiting => $waiting;
    - while (my $order = $orders->next) {
      - if (grep { $order->id == $_ } @$select_active) {
        .row.select.active{:data-order-id => '#{$order->id}'}= include 'partials/select', order => $order;
      - } else {
        .row.select{:data-order-id => '#{$order->id}'}= include 'partials/select', order => $order;
      - }
    - }
  #fitting-room.col-md-4
    .row
      #bestfit-alert.alert.alert-success.alert-dismissible.fade.in.hidden{:role => "alert"}
        %button.close{:aria-label => "Close", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4
          잘 어울린다고 생각하십니까?
          %small
        %p
          %button.btn.btn-success{:type => "button"} Best-Fit
          %button.btn.btn-warning{:type => "button"} 보통
        %ul.list-inline
          - my @size = (90 .. 120);
          - my $cnt  = 0;
          - for my $size (@size) {
            - $cnt++;
            - if ($cnt > (@size / 4)) {
              - $cnt = 0;
              %br
            - }
            %li
              %span.pants.label.label-info= $size
          - }
      - for my $n (qw/7 8 9 10 11/) {
        .col-md-2
          - if (my $order = $rooms->[$n]) {
            - if ($room_active->[$n]) {
              .active{:data-order-id => '#{$order->id}'}= include 'partials/room-preparation', order => $order, n => $n;
            - } else {
              %div{:data-order-id => '#{$order->id}'}= include 'partials/room-preparation', order => $order, n => $n;
            - }
          - } else {
            = include 'partials/room-empty', n => $n;
          - }
      - }
    %hr
    .row
      - for my $n (qw/6 5 4 3 2 1/) {
        .col-md-2
          - if (my $order = $rooms->[$n]) {
            - if ($room_active->[$n]) {
              .active{:data-order-id => '#{$order->id}'}= include 'partials/room-preparation', order => $order, n => $n;
            - } else {
              %div{:data-order-id => '#{$order->id}'}= include 'partials/room-preparation', order => $order, n => $n;
            - }
          - } else {
            = include 'partials/room-empty', n => $n
          - }
      - }
    %hr
    .row
      .col-md-6
        #repair.row
          %h4 수선
          %ul.list-group
            - for my $order (@$repair) {
              - my $user = $order->user;
              - my $user_info = $user->user_info;
              - my $gender = $user_info->gender;
              - my $url = url_for('/api/orders/' . $order->id)->query(status_id => $OpenCloset::Status::STATUS_BOXING);
              - my $bestfit = $order->bestfit;
              %li.list-group-item.repair.text-left{:class => $gender, :data-order-id => '#{$order->id}'}
                %i.fa.fa-check.repair-done{:class => "#{$done->{$order->id} ? 'text-success' : '' }"}
                %i.fa{:class => "fa-#{$gender}"}
                %strong.name{:class => "#{$bestfit ? 'bestfit' : ''}"}= $user->name
                %span.timeago
                  %small
                    %abbr.timeago{:title => '#{$order->update_date->ymd}T#{$order->update_date->hms}Z'}= $order->update_date
                %p.pull-right
                  %a.pants.text-danger{:href => '#', :data-rule => 'down'}
                    %i.fa.fa-caret-left
                  %samp.pants= $order->pants || $user_info->pants || 0
                  %a.pants.text-danger{:href => '#', :data-rule => 'up'}
                    %i.fa.fa-caret-right
                  %a.btn.btn-success.btn-sm{:href => $url} 포장
            - }
      .col-md-6
        #boxing.row
          %h4 포장
          %ul.list-group
            - for my $order (@$boxing) {
              - my $user = $order->user;
              - my $user_info = $user->user_info;
              - my $gender = $user_info->gender;
              - my $bestfit = $order->bestfit;
              %li.list-group-item.boxing.text-left{:class => $gender, :data-order-id => '#{$order->id}'}
                %i.fa{:class => "fa-#{$gender}"}
                %strong.name{:class => "#{$bestfit ? 'bestfit' : ''}"}= $user->name
                %span.timeago
                  %small
                    %abbr.timeago{:title => '#{$order->update_date->ymd}T#{$order->update_date->hms}Z'}= $order->update_date
                %p.pull-right
                  %a.pants.text-danger{:href => '#', :data-rule => 'down'}
                    %i.fa.fa-caret-left
                  %samp.pants= $order->pants || $user_info->pants || 0
                  %a.pants.text-danger{:href => '#', :data-rule => 'up'}
                    %i.fa.fa-caret-right
            - }

