- use utf8;
- layout 'default', jses => [
-   '/assets/components/jquery-timeago/jquery.timeago.js',
-   '/assets/components/jquery-timeago/locales/jquery.timeago.ko.js',
-   '/assets/components/reconnectingWebsocket/reconnecting-websocket.js',
-   '/assets/dist/js/room.min.js'
- ];
- title 'Fitting room';

#fitting-room
  .row
    - for my $n (qw/7 8 9 10 11/) {
      .col-md-2
        - if (my $order = $rooms->[$n]) {
          - if ($active->[$n]) {
            .active{:data-order-id => '#{$order->id}'}= include 'partials/room', order => $order, n => $n;
          - } else {
            %div{:data-order-id => '#{$order->id}'}= include 'partials/room', order => $order, n => $n;
          - }
        - } else {
          = include 'partials/room-empty', n => $n, active => $active->[$n];
        - }
    - }
  %hr
  .row
    - for my $n (qw/6 5 4 3 2 1/) {
      .col-md-2
        - if (my $order = $rooms->[$n]) {
          - if ($active->[$n]) {
            .active{:data-order-id => '#{$order->id}'}= include 'partials/room', order => $order, n => $n;
          - } else {
            %div{:data-order-id => '#{$order->id}'}= include 'partials/room', order => $order, n => $n;
          - }
        - } else {
          = include 'partials/room-empty', n => $n, active => $active->[$n];
        - }
    - }
